header {
    background-color: $background-principal;
}

.contenedor-grid {
    display: grid;
    grid-template-columns: repeat (2, 1fr);
    grid-template-rows: repeat (1, 1fr);
    grid-template-areas:
        "logo buscador"
        "logo barraDeNavegacion";
}

header {
    grid-area: header;
}

.logo {
    @include props-flex(row, flex-start, none);
    grid-area: logo;
}

img {
    width: 100px;
    height: 100px;
}


.buscador {
    @include props-flex(row, flex-end, none);
    padding: 20px;
}

.barraDeNavegacion {
    font-family: 'Gudea', sans-serif;
    background-color: beige;
    @include props-flex(row, flex-end, none);

    li {
        list-style-type: none;
        float: right;

        a {
            text-decoration: none;
            color: black;
            padding: 16px 16px;

            &:hover {
                color: rgb(0, 238, 255);
            }
        }
    }
}